{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title">My Symfony4 project</h1>

    <div class="home__account">
        <a href="{{ path('sign_up') }}">Sign up</a>
        <p>Sign in</p>
    </div>
</div>
{% endblock %}
