{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="container">
  <h1 class="title">Sign up</h1>
    <form class="signup__container" method="POST">

      <div class="signup__inputContainer">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="">
        {# <input type="text" name="name" id="name" value="<?= isset($_POST['name']) ? $_POST['name'] : '' ?>" class=" <?= isset($errorMessages['name']) ? "error--active" : false ?>"> #}
        {# <div class="errorMessages <?= !empty($errorMessages['name']) ? 'errorMessages--active' : '' ?>"><?= $errorMessages['name'] ?></div> #}
      </div>

      <br>

      <div class="signup__inputContainer">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="">
        {# <input type="password" name="password" id="password" value="<?= isset($_POST['password']) ? $_POST['password'] : ''  ?>" class="<?= isset($errorMessages['password']) ? "error--active" : false ?>"> #}
        {# <div class="errorMessages <?= !empty($errorMessages['password']) ? 'errorMessages--active' : '' ?>"><?= $errorMessages['password'] ?></div> #}
      </div>

      <br>

      <div class="signup__inputContainer">
        <label for="mail">Mail</label>
        <input type="mail" name="mail" id="mail" value="">
        {# <input type="mail" name="mail" id="mail" value="<?= isset($_POST['mail']) ? $_POST['mail'] : ''  ?>" class="<?= isset($errorMessages['mail']) ? "error--active" : false ?>"> #}
        {# <div class="errorMessages <?= !empty($errorMessages['mail']) ? 'errorMessages--active' : '' ?>"><?= $errorMessages['mail'] ?></div> #}
      </div>

      <br>

      {# <div class="successMessages <?= !empty($successMessage) ? "successMessages--active" : false ?>"><?= $successMessage ?></div> #}

      <input class="signup__submit" type="submit" value="Create" class="formButton">

    </form>
  </div>
{% endblock %}
